.homepage-first {
    height: 350px;
    background-color: #ffffff;
  
    /* background-color: #e8424a; */
    color: black;
    margin-top: 10px;
  }
  
  .first_Section_data p {
    font-size: 17px;
    line-height: 35px;
    height: 40px;
  
  }

  .first_section{
    margin-top: 40px;

  }
  