.homepage-first {
    height: 350px;
    background-color: #ffffff;
  
    /* background-color: #e8424a; */
    color: black;
    margin-top: 10px;
  }
  
  .first_Section_data p {
    font-size: 17px;
    line-height: 35px;
    height: 40px;
  
  }

  .first_section{
    margin-top: 40px;

  }
  
  .create-account {
    background: rgb(18, 14, 236);
    padding: 10px;
    border: 1px solid black;
    border-radius: 90px;
    color: white;
    line-height: 50px;
    font-size: 15px;
  }
  .create-account:hover{
    background-color: #ff0000;
    border: 1px solid black;
    color: white;
    transition-duration: 0.7s;
  }
  
  /* total post count */
  .total-post-info {
    margin-top: 10px;
  }
  
  .home-post-count {
    height: 250px;
  }
  
  /* trending */
  
  /* .trending{
    background-color: blueviolet;
    padding: 5px;
    block-size: fit-content;
    color: white;
    width: fit-content;
  
  } */
  
  .favpurite-post-image img {
    /* background-position: center top; */
    /* background-size: 100% 100%; */
    height: 200px;
    width: 100%;
    object-fit: cover;
  
    /* background-repeat: no-repeat; */
  }
  
  .trending {
    block-size: fit-content;
    color: white;
    width: fit-content;
    /* background-color: rgb(14, 154, 236); */
    background-color: rgba(51, 18, 238, 0.678);
  
    padding: 5px;
    position: absolute;
    bottom: 80%;
    left: 85%;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* user list information */
  
  .user-infocard {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 10px;
  }
  
  .user-infocard:hover {
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  
    cursor: pointer;
    transition-duration: 1s;
  }
  
  .user-profile-pic {
    height: 100px;
    width: 100px;
    background-color: rgb(236, 22, 22);
    border-radius: 90px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }
  
  .user-profile-picture-image img {
    height: 100px;
    width: 100px;
    border-radius: 90px;
    border: 3px solid rgb(14, 154, 236);
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
    object-fit: cover;
  }
  
  .user-profile-pic p {
    color: white;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 90px;
    font-size: 25px;
  }
  
  .profile-pic-and-name p {
    line-height: 40px;
  }
  
  .view-profile {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 5px;
  }
  
  .view-profile-button {
    margin-top: 30px;
  }
  
  .view-profile:hover {
    opacity: 1;
    background-color: #f4511e;
    color: aliceblue;
  }
  
  .pagination-user-list {
    margin-top: 10px;
  }
  
  /* end user list information */
  /* Pagination design csss */
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(216, 73, 73, 0.2); */
    width: 100%;
    font-weight: 500;
    font-size: 15px;
  }
  
  .pagination-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* padding: 8px 14px; */
    height: 40px;
    width: 40px;
    text-decoration: none;
    transition: background-color 0.2s;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 90px;
    margin: 10px;
  }
  
  .pagination-container a.active {
    background-color: #46214b;
    color: white;
    border: 1px solid #7cbddb;
  }
  
  .pagination-container a.disabled {
    opacity: 0.2;
  }
  .pagination-container a:hover:not(.active) {
    background-color: rgb(26, 29, 23);
  }
  
  /* end pagination design section */
  
  /* all posts section */
  
  .all-posts-container {
    margin-top: 50px;
  }
  
  /* End all posts section */
  
  /* Latest posts section design */
  
  .latest-post-title {
    background-color: black;
    padding: 5px;
    margin-top: 15px;
    color: white;
    width: fit-content;
    block-size: fit-content;
  }
  
  .latest-post-image {
    height: 178px;
    object-fit: cover;
  }
  
  .latest-post-text-item {
    padding: 10px;
  }
  
  .main-card-latest-post {
    margin-top: 10px;
  }
  
  .main-card-latest-post:hover {
    transition-duration: 2s;
    cursor: pointer;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  }
  
  .post-data {
    padding: 10px;
  }
  
  /* end latest post section */
  