

/* profile headerrrr */

.profile-header-margin{
  margin-top: 10px;
}

.profile-headers {
  height: 150px; /*Specify Height*/
  width: 100%; /*Specify Width*/
  text-align: center; /*Align the text to the center*/
  position: relative;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
}
.profile-pic-user-profiles {
  height: 100px;
  width: 100px;
  border-radius: 90px;
  /* border: 1px solid black; */
  background: rgb(14, 154, 236);
  bottom: 20px;
  left: 70px;

  padding: 0 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}

.user-profile-image-incircles img {
  height: 100px;
  width: 100px;
  border-radius: 90px;
  border: 3px solid black;
  bottom: 20px;
  left: 70px;
  object-fit: cover;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}

.user-profile-name-incircles {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100px;
  color: white;
}

.profile-pic-user-profile-names {
  position: absolute;
  bottom: 50px;
  left: 180px;
  padding: 0 10px;
}



/* //user profile information section */

.profile_items_container {
  margin-top: 10px;

  padding: 0px;
}
.public-profile-items {
  height: 150px;
  margin-top: 10px;
}
.profile-items_design {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}
.profile-items_design p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.member-accountcreated-date {
  font-size: 15px;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

/* end user profile page information */

.profile-name-date {
  display: flex;
}
.profile-name-avatar {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 90px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.profile-name-avatar-image img {
  height: 40px;
  width: 40px;
  object-fit: cover;

  border-radius: 90px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.profile-name-avatar p {
  color: white;
  border-radius: 90px;
  height: 40px;
  width: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 90px;
}
.profile-name-post-date {
  padding: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 3px;
  margin-top: 5px;
}

.profile-name-size {
  font-size: 15px;
}


/* user about information */

.user-about-page{
  padding: 10px;
}
